#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#page-teacher-list main {
  width: 90%;
  margin: 3.2rem auto;
}

#page-teacher-list main {
  width: 90%;
  margin: 3.2rem auto;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    bottom: -28px;
    position: absolute;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  #search-teachers .input-block + .input-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    margin: 0 auto;
    max-width: 740px;
    padding: 3.2rem 0;
  }
}